.container {
  width: 300px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  overflow: hidden;
}
.title {
  font-size: 18px;
  font-weight: bold;
  color: #d1411e;
}
.price {
  font-size: 18px;
  font-weight: bold;
  color: #666;
}
.desc {
  text-align: center;
  color: #777;
}

.container:hover .img {
  transform: scale(1.02);
  transition: all 0.5s ease;
}
.container:hover .title {
  transition: all 0.5s ease;
  color: #ff3f0f;
}

@media screen and (max-width: 480px) {
  .title {
    font-size: 30px;
  }
  .price,
  .desc {
    font-size: 24px;
  }
}
